@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'MedievalSharp', cursive;

}


.noselect::selection {
color: red
}



.background {
  background-image: url("https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.effect {
  animation:glitch 0.7s linear infinite;
}


@keyframes glitch {

  from {
 opacity: 0.9;
}

  to {
    opacity: 1;
  }


}
